<link rel="stylesheet" type="text/css" href="http://104.131.69.233:3000/css/contact_us.css">
<div id="contact-us">
	<div class="block">
		<div class="title">
			<p>For Users:</p>
		</div>
		<div class="content">
			<p>support@lostyapp.com</p>
		</div>
	</div>
	<div class="block">
		<div class="title">
			<p>For Press:</p>
		</div>
		<div class="content">
			<p>press@lostyapp.com</p>
		</div>
	</div>
	<div class="block">
		<div class="title">
			<p>For any enquires:</p>
		</div>
		<div class="content">
			<p>info@lostyapp.com</p>
		</div>
	</div>
	<div class="block last-block">
		<strong>Mailing Address:</strong>
		<p>Salim Fayad Building, Road 16,</p>
		<p>Rabieh, Lebanon</p>
	</div>
</div>