<link rel="stylesheet" type="text/css" href="http://104.131.69.233:3000/css/contact_us.css">
<div id="contact-us">
	<div class="block">
		<div class="title">
			<p>About</p>
		</div>
		<div class="content">
			<p>Losty is a free Lost and Found mobile app. With Losty, the Lost has been found. In few taps you can search for your lost items and list if you found any lost items in your area for free. </p>
		</div>
	</div>
</div>