<html>

<head>
  <meta charset="UTF-8">
  <title> Chat use Socket.IO</title>
  <link rel="stylesheet" href="../public/css/style.css">


  <script src="../public/js/jquery-1.10.2.min.js"></script>
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>


  <script type="text/javascript">

    // var my_id  = '54583aa7026b433219644284';
    // var friend_id = '54583ab1026b433219644286';

    var my_id, friend_id, token;
    var url='';

    var $window = $(window);

    var user_number = prompt('User number');

    if (user_number == 1){

      my_id     = '54794290c45abd6010e5c885';
      token     = '$2a$20$DHjIz8kJo1qVqNcdUMU/7u';
      friend_id = '54794298c45abd6010e5c887';

    } else{
      my_id     = '54794298c45abd6010e5c887';
      token     = '$2a$20$2L9CB2ZuWyGeUhB22zinKO';
      friend_id = '54794290c45abd6010e5c885';
      
    }

    url = 'http://localhost:3000/chat?user_id='+ my_id +'&token=' + token;
    
    // url = 'http://localhost:3000/chat?user_id=5477232ad1f5a8de31ff227d&token=$2a$20$nMOFkLBO3iFV4WztR5Ojbe'

    // // console.log(url);
    // // url = 'http://104.131.69.233:3000/chat?user_id=54794290c45abd6010e5c885&token=$2a$20$5tzvTHWNzdDI8JPFvIWPXe';
    // url = 'http://104.131.69.233:3000/chat?user_id=5477232ad1f5a8de31ff227d&token=$2a$20$nMOFkLBO3iFV4WztR5Ojbe:3000/socket.io/1/?EIO=2&transport=polling&t=1417234473103';

    var socket = io.connect(url);

    socket.on('hello world', function(data){
      $('.Show').append('<p> Server say Hello </p>');
    })

    // ============================= ONLINE USERS =======================================
    // data : [user_id1, user_id2, ...]
    socket.on('Online users', function(data){
      if (user_number == 1)
        $('.Show').append('<p>CuongVu: My id : ' + my_id + '</p>');
      else 
        $('.Show').append('<p>HanhLuu: My id : ' + my_id + '</p>');

      $('.Show').append('<p> User online : ' );
      data.forEach(function(user){
        $('.Show').append('<ul>' + user +'<br>');
      })
      $('.Show').append('</p>');
    })

    // ============================= ONE USER ONLINE ====================================     

    // data : user_id
    socket.on('One user online', function(data){
      $('.Show').append('<p> User online : '+ data +' </p>');
    })  

    // ============================= ONE USER OFF ====================================     

    // data : user_id
    socket.on('One user off', function(data){
      $('.Show').append('<p> User off : '+ data +' </p>');
    })  

    // ============================= TYPING =============================================
    function typing(){
      socket.emit('Typing', {user_send : my_id, user_recei : friend_id});
    }

    socket.on('Typing', function(data){
      $('.Show').append('<p>' + data.user_send + 'is typing </p>');
    })

    // ============================= STOP TYPING =========================================
    function stopTyping(){
      socket.emit('stopTyping', {user_send : my_id, user_recei : friend_id});
    }

    socket.on('stopTyping', function(data){
      $('.Show').append('<p>' + data.user_send + ' stop typing </p>');
    })

    // ============================= READ ALL MESSAGE =========================================
    function readAllMessage(){
      socket.emit('readAllMessage', {user_send : my_id, user_recei : friend_id});
    }

    socket.on('readAllMessage', function(data){
      $('.Show').append('<p>' + data.user_send + ' read all your message </p>');
    })

    // ============================= SEND MESSAGE==============================================

    $window.keydown(function (event) {
      // When the client hits ENTER on their keyboard
      if (event.which === 13) {
        // send message
        var content = $('.Inbox').val();
        $('.Show').append('<p> Me : ' + content + '\n </p>');

        var element = document.getElementById("Show");
        element.scrollTop = element.scrollHeight;

        socket.emit('Send message', {user_send : my_id, user_recei : friend_id, content : content});
        $('.Inbox').val('');
      }
    });

    socket.on('Send message', function(data){
        var user_send  = data.user_send;
        var user_recei = data.user_recei;
        var content    = data.content;
        var status     = data.status;
        var time       = data.time;
        var username   = data.username;
        var avatar     = data.avatar;

        $('.Show').append('<p>' + avatar + '<br>' + username + ' : ' + content + ' Time : ' + time + '\n</p>');

        var element = document.getElementById("Show");
        element.scrollTop = element.scrollHeight;

    })

  </script>

</head>
<body>

  <div class="home">
    <div class="Show" id = "Show">
    </div>

    <div class="Button">
      <button class="Typing" onclick="typing()"> TYPING </button>  
      <button class="StopTyping" onclick="stopTyping()"> STOP TYPING </button>
      <button class="ReadAll" onclick="readAllMessage();"> READ ALL MESSAGES </button>      
    </div>

    <textarea class="Inbox" id= "Inbox"> </textarea> 

  </div>

</body>
</html>