<link rel="stylesheet" type="text/css" href="http://104.131.69.233:3000/css/style.css">
<div id="contact_us">
<!-- 	<div class="navigator">
		<div class="forward"></div>
		<div class="text-center header">Terms and Conditions</div>
		<!-- <div class="close"></div>
	</div> <!-- #navigator -->
	<div class="ct">
		<p class="title">For Users:</p>
		<p class="content">
			support@lostyapp.com
		</p>
		<p class="title">For Press:</p>
		<p class="content">
			press@lostyapp.com
		</p>
		<p class="title">For any enquires:</p>
		<p class="content">
			infor@lostyapp.com
		</p>
		<p class="title">Mailing Address</p>
		<p class="content">
			Salim Fayad Building, Road 16, <br>
			Rabieh, Lebanon
		</p>
</div> <!-- .ct -->
</div> <!-- #terms_and_conditions -->
