<link rel="stylesheet" type="text/css" href="http://104.131.69.233:3000/css/style.css">
<div id="privacy_policy">
	<!-- <div class="navigator">
		<div class="forward"></div>
		<div class="text-center header">Privacy Policy</div>
		<div class="close"></div>
	</div>  -->
	<div class="ct">
		<p class="title">Last updated: October 19, 2014</p>
		<p class="content">Losty ("us", "we", or "our") operates the www.lostyapp.com website and the Losty mobile application (the "Service").    
		<br><br>
		This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service.
		<br><br>
		We will not use or share your information with anyone except as described in this Privacy Policy.
		<br><br>
		We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at www.lostyapp.com
		</p>


		<p class="title">Information Collection And Use</p>
		<p class="content">
			While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name ("Personal Information").
		</p>
		<p class="title">Log Data</p>
		<p class="content">
			We collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.
			<br><br>
			In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Service's functionality. These third party service 
			providers have their own privacy policies addressing how they use such information.
			<br><br>
			When you access the Service by or through a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use and other 
			statistics.
		</p>
		<p class="title">Location information</p>
		<p class="content">
			We may use and store information about your location, if you give us permission to do so. We use this information to provide features of our Service, to improve and customize our Service. You can enable or disable location services when you use our Service at anytime, through your mobile device settings.
		</p>
		<p class="title">Cookies</p>
		<p class="content">
			Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.
			<br><br>
			We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
		</p>
		<p class="title">Service Providers</p>
		<p class="content">
			We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service 
			is used.
			<br><br>
			These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
		</p>
		<p class="title">Communications</p>
		<p class="content">
			We may use your Personal Information to contact you with 
			newsletters, marketing or promotional materials and other 
			information that may be of interest to you. You may opt out of 
			receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.
		</p>
		<p class="title">Compliance With Laws</p>
		<p class="content">
			We will disclose your Personal Information where required to do so by law or subpoena or if we believe that such action is necessary to comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of our Service.
		</p>
		<p class="title">Business Transaction</p>
		<p class="content">
			If Losty is involved in a merger, acquisition or asset sale, your Personal Information may be transferred. We will provide notice before your Personal Information is transferred and becomes subject to a different Privacy Policy.
		</p>
		<p class="title">Security</p>
		<p class="content">
			The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
		</p>
		<p class="title">International Transfer</p>
		<p class="content">
			Your information, including Personal Information, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.
			<br><br>
			If you are located outside Lebanon and choose to provide 
			information to us, please note that we transfer the information, including Personal Information, to Lebanon and process it there.
			<br><br>
			Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
		</p>
		<p class="title">Links To Other Sites</p>
		<p class="content">
			Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.
			<br><br>
			We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
		</p>
		<p class="title">Children's Privacy</p>
		<p class="content">
			Our Service does not address anyone under the age of 13 ("Children").
			<br><br>
			We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Information, please contact us. If we discover that a Children under 13 has provided us with Personal Information, we will delete such information from our servers.
		</p>
		<p class="title">Changes To This Privacy Policy</p>
		<p class="content">
			We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
			<br><br>
			You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
		</p>
		<p class="title">Contact Us</p>
		<p class="content">If you have any questions about this Privacy Policy, please contact us.</p>
	</div> <!-- #content -->
</div>